.chevron {
  background: #f6f6f6;
  border: none;
}

.sc-bxivhb {
  width: auto;
  margin: 10px;
}

.card-title {
  font-size: medium !important;
}

.card-text {
  font-size: smaller !important;
}

.restaurant-card {
  margin: 10px;
}

.category {
  width: 50% !important;
  align-self: center;
}

.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.filter-gray {
  filter: grayscale(50%);
}